.smallTilesComponent {
  display: grid;
  gap: 50px;
  padding-bottom: 20px;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding-top: 75px;

    .itemWrapper {
      display: grid;
      background: var(--background);
      border-radius: 16px;
      padding: clamp(19px, calc(45vw/7.68), 45px) clamp(20px, calc(26vw/7.68), 33px);

      .item {
        display: grid;
        gap: 7px;
        align-self: flex-start;

        .image {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 12px;
        }

        .title {
          padding-top: 8px;
          display: grid;
          align-self: flex-start;
        }
      }

      &:nth-child(2) {
        transform: translateY(-75px);
      }
    }
  }

  @media(max-width:1199px) {
    .items {
      grid-template-columns: 1fr 1fr;
      padding-top: unset;

      .itemWrapper {
        &:nth-child(2) {
          transform: unset;
        }

        &:nth-child(3) {
          grid-column: span 2;
          width: 50%;
          justify-self: center;
        }
      }
    }
  }

  @media (max-width:499px) {
    .items {
      grid-template-columns: 1fr;

      .itemWrapper {
        &:nth-child(3) {
          grid-column: span 1;
          width: 100%;
          justify-self: center;
        }
      }
    }
  }
}